.navbarContainer .topNavbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #46df58;
    padding: 1rem 2rem;
}

.navbarContainer .bottomNavbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #a9fb4b;
    padding: 0.6rem 2rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.);
}

.topNavbarRightSideMenu {
    display: flex;
    flex-direction: row;
    column-gap: 1.5rem;
    align-items: center;
}

.profilePicAndName {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 0.3rem;
}

.logoutButton {
    border: 2px solid white;
    margin-left: 0.3rem;
    cursor: pointer;
    padding: 0.3rem 0.5rem;
    border-radius: 0.5rem;
    background-color: #9CFF2E;
}

.logoutIcon {
    color: white;
}

.navbarContainer .topNavbar h1 {
    font-size: 2rem;
    color: black;
}

.navbarContainer .topNavbar p {
    font-size: 1.2rem;
}

.navbarContainer .bottomNavbar p {
    font-size: 1rem;
}

.bottomNavbarLink {
    display: flex;
    flex-direction: row;
    column-gap: 0.4rem;
    align-items: center;
}




@media screen and (max-width: 1200px) {

    .navbarContainer .bottomNavbar {
        padding: 0.8rem 2rem;
        justify-content: space-around;
    }

    .topNavbarRightSideMenu {
        column-gap: 1rem;
    }

    .navbarContainer .topNavbar h1 {
        word-spacing: 0.4rem;
        font-size: 1.5rem;
    }

    .navbarContainer .topNavbar p {
        font-size: 1rem;
    }

    .navbarContainer .bottomNavbar p {
        font-size: 0.8rem;
    }

    .bottomNavbarLink p {
        font-size: 0.8rem;
    }

}




@media screen and (max-width: 500px) {

    .navbarContainer .topNavbar {
        padding: 1rem 1rem;
    }

    .navbarContainer .bottomNavbar {
        padding: 1rem 2rem;
        justify-content: space-around;
    }

    .logoutButton {
        margin-left: 0.5rem;
        padding: 0.2rem 0.4rem;
    }

    .navbarContainer .topNavbar h1 {
        word-spacing: 0.4rem;
        font-size: 1.5rem;
    }

    .navbarContainer .topNavbar p {
        font-size: 1.1rem;
        font-weight: bold;
    }

    .navbarContainer .bottomNavbar p {
        font-size: 0.8rem;
    }

    .bottomNavbarLink p {
        display: none;
    }

}