.ItemCardContainer {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 500px;
    border-radius: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
}

.ItemCardContainer:hover {
    transition: 400ms;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}

.ItemCardContainer .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 20%;
    padding-left: 1.5rem;
    background: linear-gradient(90deg, #2dbb3e, transparent) #9CFF2E;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.ItemCardContainer:hover .title {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    background-color: #155f1e;
    transition: 400ms;
}

.ItemCardContainer .title h1 {
    font-size: 2.5rem;
}

.ItemCardContainer .title p {
    display: flex;
    flex-direction: row;
    font-size: 1rem;
    word-spacing: 0.15rem;
}

.ItemCardContainer .description {
    height: 70%;
    padding-left: 1.5rem;
    padding-top: 1rem;
    background-color: #d5f8ad;
}

.ItemCardContainer .description ul {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
}

.ItemCardContainer .description ul li {
    font-size: 1.2rem;
    word-spacing: 0.15rem;
    margin-bottom: 3rem;
}

.ItemCardContainer .gotoLink {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 10%;
    padding-left: 1.5rem;
    background: linear-gradient(90deg, #2dbb3e, transparent) #155f1e;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.ItemCardContainer:hover .gotoLink {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color: #9CFF2E;
    color: #c3f689;
    transition: 400ms;
}

.ItemCardContainer .gotoLink p {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}





@media screen and (max-width: 1200px) {
    
    .ItemCardContainer {
        width: 700px;
        height: 500px;
    }

    .ItemCardContainer .title h1 {
        font-size: 2rem;
    }

    .ItemCardContainer .description ul li {
        font-size: 1rem;
        word-spacing: 0.15rem;
        margin-bottom: 2rem;
    }

}





@media screen and (max-width: 800px) {
    
    .ItemCardContainer {
        width: 500px;
        height: 500px;
    }

    .ItemCardContainer .title h1 {
        font-size: 2rem;
    }

    .ItemCardContainer .description ul li {
        font-size: 1rem;
        word-spacing: 0.15rem;
        margin-bottom: 2rem;
    }

}