.ItemCardContainer {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(105, 105, 105, 0.5);
    width: 40%;
    height: 500px;
    border-radius: 1rem;
}

.ItemCardContainer:hover {
    transition: 400ms;
    border: 1px solid rgba(105, 105, 105, 0.5);
}

.ItemCardContainer .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 20%;
    padding-left: 1.5rem;
    background: linear-gradient(90deg, #9D0B28, transparent) #FF004D;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.ItemCardContainer:hover .title {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    background-color: #33040e;
    color: white;
    transition: 400ms;
}

.ItemCardContainer .title h1 {
    font-size: 2.5rem;
}

.ItemCardContainer .title p {
    display: flex;
    flex-direction: row;
    font-size: 1rem;
    word-spacing: 0.15rem;
}

.ItemCardContainer .description {
    height: 70%;
    padding-left: 1.5rem;
    padding-top: 1rem;
    background-color: #090909;
}

.ItemCardContainer .description ul {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
}

.ItemCardContainer .description ul li {
    font-size: 1.2rem;
    word-spacing: 0.15rem;
    margin-bottom: 3rem;
}

.ItemCardContainer .gotoLink {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 10%;
    padding-left: 1.5rem;
    background: linear-gradient(90deg, #9D0B28, transparent) #33040e;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.ItemCardContainer:hover .gotoLink {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color: #FF004D;
    color: white;
    transition: 400ms;
}

.ItemCardContainer .gotoLink p {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}





@media screen and (max-width: 1200px) {
    
    .ItemCardContainer {
        width: 300px;
        height: 500px;
    }

    .ItemCardContainer .title h1 {
        font-size: 2rem;
    }

    .ItemCardContainer .description ul li {
        font-size: 1rem;
        word-spacing: 0.15rem;
        margin-bottom: 2rem;
    }

}





@media screen and (max-width: 800px) {
    
    .ItemCardContainer {
        width: 300px;
        height: 500px;
    }

    .ItemCardContainer .title h1 {
        font-size: 2rem;
    }

    .ItemCardContainer .description ul li {
        font-size: 1rem;
        word-spacing: 0.15rem;
        margin-bottom: 2rem;
    }

}