@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Manrope', sans-serif;
  color: black;
    background: #dffabf;
}

input[type="number"], input[type="text"], input[type="email"], input[type="password"] {
  background-color : #e7f9d2;
  border: 1px solid black;
  border-radius: 0.5rem;
}

select {
  background-color : #e7f9d2;
  border-radius: 0.5rem;
}

a {
  color: inherit;
  text-decoration: none;
}

  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 0.5rem;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(184, 184, 184);
    border-radius: 0.5rem;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(130, 130, 130);
  }
